[2018-10-08 08:45] maxulysse opened #2 "Use nf-core/test-datasets"
Hi,
I notice that there is some data test on this repo.
We made the  [nf-core/test-datasets repo](https://github.com/nf-core/test-datasets/) for this purpose.
You can either try to use some already available test data, or upload your own on a new branch `deepvariant`.

[2018-10-08 12:49] PhilPalmer commented on #2
Thanks @MaxUlysse, just done it with a smaller set of test data

[2018-10-08 12:50] #2 closed, assigned to nobody

[2018-10-22 11:33] apeltzer opened #4 "Nicer tags for script"
When running the pipeline I get this:

[code]

Would be nicer to have the "real" names of the files there...

[2018-10-22 11:56] apeltzer opened #5 "Pipeline Testing"
Double checked already that exome bam and my BED file have compatible contigs but no success unfortunately:

[code]

[2018-10-23 11:22] PhilPalmer commented on #4
Okay thanks, just updated it

[2018-10-23 11:22] #4 closed, assigned to nobody

[2018-10-23 12:32] PhilPalmer commented on #5
Hi @apeltzer,

If the bam file is small, would it be possible for you to send the exome bam and BED file?

Thanks in advance

[2018-10-25 12:03] apeltzer commented on #5
BED would be possible, but not the bam (private data) - Anything I can do to find out what's wrong?

[2018-10-26 10:00] PhilPalmer commented on #5
I don't think the problem is with the exome model because this runs successfully:
[code]

I know you said you've checked the bam and bed files but I think there must be some kind of problem with the data.

The input bam file for `make_examples` uses the convention without the prefix "chr":
[code]
Does the bed file specify them in the same way?

Also, what was the full command you used?

[2018-10-26 11:38] apeltzer commented on #5
I'll try once more!

This was the command:
[code]

[2018-10-26 11:39] apeltzer commented on #5
(had to add our own hardware profile `binac` here)

[2018-10-26 11:53] apeltzer commented on #5
Recreated the BED file and will report back...

[2018-10-26 13:38] apeltzer commented on #5
Probably a corrupt BED issue. Its running now, will report back once the results are there!

[2018-10-26 13:43] PhilPalmer commented on #5
Okay thanks and yeah DeepVariant can take a while to run, especially if the BAM file is large

[2018-10-27 18:52] PhilPalmer commented on #5
Hey @apeltzer,
I'm assuming the results came back fine. If so do I then have the go-ahead to release deepvariant?

[2018-10-27 21:59] apeltzer commented on #5
They didn't unfortunately ... it crashed on the same input.
[nextflow.log.txt](https://github.com/nf-core/deepvariant/files/2522243/nextflow.log.txt)

[2018-10-28 08:34] PhilPalmer commented on #5
Hi @apeltzer,

According to your log file the cause was:
[code]
Is this running on a HPC local cluster?
How big is the bam file/regions being analysed?

I know `make_examples` is the most computationally intensive process, is it possible that the resources required exceeded the requested resources/limits and so the job was killed?

[2018-10-28 08:39] apeltzer commented on #5
Hm, could be but the system should have ~28 cores and the input was ~5GB in file size. It has 48hours for running through....

[2018-10-29 08:38] PhilPalmer commented on #5
We benchmarked DeepVariant internally at Lifebit before and I think at least 50GB of memory is roughly required for a 5GB BAM file to be sure it runs.
Do you know how much memory you had access to when running DeepVariant?

[2018-10-29 09:01] apeltzer commented on #5
The machine I use has ~256GB of memory, 28 CPU cores. I configured just a hardware profile for the system, without other changes. Do you specify that you need that much memory in the process configuration?

[2018-10-29 09:22] PhilPalmer commented on #5
It's not specified in the process configuration. The amount of memory required is typically about 10-15x the size of the BAM file. I'm not sure exactly how to specify this in the configuration process. I know that `task.cpus` is used in `make_examples`. Perhaps, it could be this causing the problem if the value of `task.cpus` is too low

[2018-10-29 09:28] apeltzer commented on #5
It should be possible to do it using the new (>0.32.0 NXF version) directives. Never used the feature before, so this might not be entirely correct though:

[code]

[2018-10-29 13:02] PhilPalmer commented on #5
@apeltzer Okay thanks.
How much memory do you think the job is allocated by default if you did not specify any? Can you also please send the trace file?

[2018-10-29 13:14] apeltzer commented on #5
As I didn't change it, it should be 8.GB according to your `base.config`, so I guess that's the biggest issue here.

[2018-10-29 14:10] PhilPalmer commented on #5
@apeltzer Please can you try setting the memory in your config file to 50GB and using the with trace option. That way we can test if this is the (only) problem.

I have added this to `make_examples`:
[code]
I added the `.subscribe` to be  able to access the individual bam from the channel, but this probably isn't the correct way of doing it. Also what if there are multiple bam files?

I can add th

[2018-10-30 10:24] PhilPalmer commented on #5
Sorry @apeltzer, what are your thoughts on this and is there any update?
Thanks

[2018-10-30 12:56] apeltzer commented on #5
No laptop and I can just have a look at this tomorrow - our Cluster where I ran this is in maintenance till Friday, so can try this then.

I’ll also have a look in detail, traveling atm and mobile phone is not enough to carefully look etc ...

[2018-10-31 13:33] PhilPalmer commented on #5
Hi @apeltzer sorry to keep bothering you

Does the code above (for setting the memory) look alright?
If you're not able to test the pipeline until Friday would it be alright if I see if anyone else from nf-core can test the pipeline before then instead?

Thanks

[2018-10-31 13:47] apeltzer commented on #5
If there are some other people able to test tha twould be good too - I can't test before Friday as the maintenance goes on for now :-1:

[2018-10-31 15:18] PhilPalmer commented on #5
So if someone else from nf-core tests deepvariant and it runs successfully will that be okay to release it? Or do you want to make sure you test it yourself on Friday before it can be released?

[2018-11-02 08:28] apeltzer commented on #5
Unfortunately that cluster seems to be down still. Can anyone from @nf-core/core have a go and test this?

[2018-11-02 09:59] PhilPalmer commented on #5
If anyone does test it, please specify memory in your config file to roughly 10x the size of your BAM file eg 50GB of memory for 5GB BAM file

Thanks

[2018-11-05 08:35] PhilPalmer commented on #5
Hi @apeltzer,

Is there any chance the cluster is back up?

Thanks

[2018-11-05 08:45] apeltzer commented on #5
[code]

Sorry no :-1: Getting annoyed by that one too, but can't push them any further to proceed faster ...

[2018-11-05 09:25] PhilPalmer commented on #5
Okay thanks, I'll try asking on the gitter chat if anyone wants to test it again if that's alright

[2018-11-06 08:33] apeltzer commented on #5
Cluster is back, testing today :-)

[2018-11-06 11:41] apeltzer commented on #5
Running - with 50GB memory for the process, also had to update the cluster modules in a file and will send a PR to make that accessible to everyone.

[2018-11-06 11:46] PhilPalmer commented on #5
Okay perfect, thanks

[2018-11-06 20:36] apeltzer commented on #5
[code]

[2018-11-06 20:36] apeltzer commented on #5
Unfortunately this hangs and there are no jobs submitted anymore...

[2018-11-07 10:15] apeltzer commented on #5
[code]

That's the bad boy ;-) Pipeline hangs, the other ones ran through properly. Also this is not in the scheduler anymore!

[2018-11-07 11:59] PhilPalmer commented on #5
Okay nice, so did deepvariant manage to run successfully or is it still running?

[2018-11-07 12:03] apeltzer commented on #5
I will run again right now :-)

[2018-11-07 12:07] PhilPalmer commented on #5
Perfect, thanks 😃

[2018-11-08 09:59] apeltzer commented on #5
I guess we'd have to find something for the `file.size()` feature, as this causes an error as well:

[code]

[2018-11-08 11:38] PhilPalmer commented on #5
@apeltzer is this a problem with the `file.size()` feature itself? As even ignoring the fact that its negative the value is wrong. Do you think the best solution is to change the code back to how it was before and add something in the documentation about setting `memory` to 10x BAM file size?

[2018-11-08 11:47] apeltzer commented on #5
No, I don't think that's good - the feature is there and should work :-)

I'll have a look

[2018-11-08 11:54] apeltzer commented on #5
Hm, I'm a bit wondering what we multiple here:

If the `.size()` method returns 0, then that won't help. That size is in bytes, so we'd probably have to run `.toGiga()` to get Gigabytes.

https://www.nextflow.io/docs/latest/script.html?highlight=size#check-file-attributes

[code]

[2018-11-08 12:04] apeltzer commented on #5
I believe it doesn#t resolve the bam channel properly. Having this by default using some reasonable values for memory would be quite user-friendly instead of forcing people to specify it themselves (without having that experience for example).

[2018-11-08 12:06] apeltzer commented on #5
Hm, maybe @pditommaso has an idea on how to use this properly. I believe it could also be an issue when we set this in the `base.config` instead of the main script.

[2018-11-09 12:22] PhilPalmer commented on #5
@apeltzer I tried adding `toGiga()` eg `memory = { check_max( bam.size().toGiga() * 5.GB  * task.attempt, 'memory')}`

However, when I try running it I get this error:
`Exception in thread "Task submitter" groovy.lang.MissingMethodException: No signature of method: java.lang.Long.toGiga() is applicable for argument types: () values: []`

Do you think this is a problem with the type of `bam.size()`

[2018-11-09 12:24] apeltzer commented on #5
I've asked in the gitter - unfortunately never tried it beforehand and I'm also not sure what causes this ... :-(

[2018-11-09 12:36] PhilPalmer commented on #5
Okay no worries, thanks for mentioning it in the gitter chat

[2018-11-11 11:24] PhilPalmer commented on #5
Hi @apeltzer,

Thanks for your help.

I have set the memory as follows:
[code]

This is mostly the same as you stated in the gitter chat. I added the first part/ternanry operator because I noticed with the small test BAM the memory was being set incredibly low and so it took too long to finish executing the job. So if the BAM is less than 1GB, memory is set to 4GB.

Assuming this is all okay, will

[2018-11-12 08:43] apeltzer commented on #5
I'm doing another test :-)

[2018-11-12 08:44] apeltzer commented on #5
I'm getting this here:

[code]

[2018-11-12 09:10] PhilPalmer commented on #5
Do you know what the requested resources were?

[2018-11-12 09:11] apeltzer commented on #5
`.command.run` says:

[code]

[2018-11-12 09:12] apeltzer commented on #5
(which should be definitely available on that node, having at max 28 cores, 48hours of wall time and 128GB RAM per node...

[2018-11-12 09:17] PhilPalmer commented on #5
@apeltzer do you have any idea what the issue may be?

It seems like its an issue with the memory. So the requested memory seems to be within the allowed range but is the format correct? Should it be `57.4GB` instead of `57.4gb` for example?

Does it work if you set the `max_memory` lower?

[2018-11-12 09:37] apeltzer commented on #5
Not really, I'm pinging @pditommaso in here ... or you may want to open an issue at the main nextflow repository? Never saw that before using the `file.size()` option

[2018-11-12 14:09] ewels commented on #5
Hi guys, just catching up with notifications. Great thread to read! I mentioned this dynamic feature in passing a while back @PhilPalmer - would be really nice to get it working (and may copy syntax for other pipelines if / when this works). Note that the `base.config` should have "sensible defaults", and 8.GB probably isn't. So would be good to minimise how many other config files vary these if p

[2018-11-14 09:54] PhilPalmer commented on #5
@apeltzer I know I've said this a lot but the pipeline should be ready for testing now 😅

If you could try running it again that would be much appreciated, thanks

[2018-11-14 10:02] PhilPalmer commented on #5
@ewels are you saying the default 8.GB in `base.config` is too high or too low? Shall I change it to 4.GB instead? Are the defaults for the cpus and time okay?
Eg:
[code]
Thanks

[2018-11-14 12:22] apeltzer commented on #5
No worries, yes I can and I will right now :-)

[2018-11-14 12:24] apeltzer commented on #5
[code]

[2018-11-14 12:26] PhilPalmer commented on #5
@apeltzer Okay strange, it seemed to work [here](https://travis-ci.com/nf-core/deepvariant/jobs/158454171), I doubt this would change anything but I updated the version of nextflow to 18.10.1. What version of Nextflow are you using?

I'm not sure if this is causing the error but I'm guessing the memory being set to 300GB is also a problem

[2018-11-14 12:52] PhilPalmer commented on #5
Okay I think I understand. The reason why it worked with the Travis build was that the test BAM file is small and so `check_max( bam.size() >> 30 * 10.GB * task.attempt, 'memory')` was never executed (see code below).
[code]

[2018-11-14 14:22] PhilPalmer commented on #5
@apeltzer I think I've fixed it now I think `bam.size() >> 30` just needed to be in wrapped in brackets

[2018-11-14 14:28] apeltzer commented on #5
I resubmitted and the job is now queued... I'll update here once I see something going on :-)

Job is submitted however and seems to not be rejected anymore :+1:

[2018-11-14 14:53] PhilPalmer commented on #5
Perfect thanks 🤞

[2018-11-15 07:42] apeltzer commented on #5
Looking good :tada:

[code]

(partially hanging in the queue, but thats not your fault :-))

[2018-11-15 14:30] apeltzer commented on #5
Running well, we're postprocessing now :-)

[2018-11-16 08:32] PhilPalmer commented on #5
@apeltzer did it manage to run to completion?

[2018-11-16 08:49] apeltzer commented on #5
Yes it did!!!

[code]

[2018-11-16 08:50] apeltzer commented on #5
Which in turns means, I'm happy if you do a release now :-)

[2018-11-19 10:44] #5 closed, assigned to nobody

[2018-11-19 10:53] apeltzer opened #9 "Set up Template branch"
See here for details: https://nf-co.re/sync

[2018-11-19 14:51] PhilPalmer commented on #9
@apeltzer I've added the template branch, followed the synchronization instructions and just released DeepVariant 🎉

Thanks for your help. I'm sure it was a bit more involved with the testing than you intially had in mind 😅

[2018-11-19 14:51] #9 closed, assigned to PhilPalmer

[2018-11-19 14:53] apeltzer commented on #9
I intend to use the pipeline so happy to help out here ;-)

[2018-12-03 11:17] marchoeppner opened #12 "Update documentation about reference genomes"
Hi,

I can tell from the config files that there is probably some central "repository" from which to get the reference genomes and the various auxiliary files. But the documentation is missing any clues as to how to get those files. There is section 4 of the instructions (Reference genomes), but that doesn't point to anything right now.

Cheers,
Marc

[2018-12-04 09:12] patrickbryant1 opened #13 "shub://nf-core/deepvariant missing?"
Hi, I am following your tutorial: https://github.com/nf-core/deepvariant/blob/master/docs/installation.md
and am trying to do: singularity pull --name nf-core-deepvariant.simg shub://nf-core/deepvariant
- I get the following error message:
WARNING: Authentication token file not found : Only pulls of public images will succeed
FATAL:   Failed to get manifest from Shub: The requested manifest was no

[2018-12-04 09:15] apeltzer commented on #13
Yeah, we don't really use Singularity Hub at all, thats why this fails:

Use

[code]

[2018-12-04 09:41] patrickbryant1 commented on #13
Thank you!

[2018-12-05 09:09] ewels commented on #12
The [documentation about reference genomes](https://github.com/nf-core/deepvariant/blob/master/docs/usage.md#reference-genomes) is out of date and needs revising (it's not a lifebit s3 bucket, it's the main deepvariant bucket).

[2018-12-05 11:10] ewels commented on #12
New documentation merged to dev. I hope everything is now clearer @marchoeppner!

[2018-12-05 11:10] #12 closed, assigned to nobody

[2018-12-06 08:23] PhilPalmer commented on #13
Hope that's clearer now. I've corrected the documentation on the dev branch to have the correct command

[2018-12-06 08:23] #13 closed, assigned to PhilPalmer

[2018-12-12 15:25] tarak77 opened #15 "Wrong results location in pipeline complete"
Hi,
I was trying out the test pipeline mentioned in this repo, it runs fine

[code]
But for some reason I cannot find the results in that path. Any help?

[2018-12-12 15:32] apeltzer commented on #15
This is a bug:

https://github.com/nf-core/deepvariant/blob/2b5486356c4dbd4dcb598b611281997119c2e350/main.nf#L516

Should be pointing simply to

[code]

@PhilPalmer Can fix this I suppose :-)

For you, just use the second part of this suggestion:

`./results`

[2018-12-12 15:37] tarak77 commented on #15
I see, thanks

[2018-12-13 14:00] PhilPalmer commented on #15
Thanks, it's now changed on the dev branch

[2018-12-13 14:00] #15 closed, assigned to PhilPalmer

[2018-12-20 03:47] tarak77 opened #16 "Execution completed unsuccessfully"
Hi,
I am running the pipeline for my test data on my Mac. The execution is completed unsuccessfully as seen in the following report
[pipeline_report.txt](https://github.com/nf-core/deepvariant/files/2697340/pipeline_report.txt)

Any help will be great!

[2018-12-20 10:31] PhilPalmer commented on #16
Hi @tarak77,

There was a similar [issue](#5) when we were testing the pipeline. This was due to a corrupt bed file and I think it was because the chromsomes were not specified in the same way for the bam, bed & fasta files. This isssue seems slightly different but can you please check that the chromosomes are specified in the same way for all of your files.

[code]
Specifically, if I'm not mistak

[2018-12-20 10:32] ewels commented on #16
Hi @tarak77,

To clarify, is this test data that you have generated? Or the test data that comes with the pipeline? (`-profile test,docker`)

Phil

[2019-01-08 02:25] tarak77 commented on #16
Hi @PhilPalmer ,
Yes the raw FASTQ files are from mouse genome.
1. From the raw FASTQ files, I use BWA MEM for alignment to get `aln.sam` files. Then using
`samtools view -uS aln.sam.gz | sambamba sort /dev/stdin -o aln.bam`
to obtain `aln.bam` file.
2. Yes the fasta file is from mm10 genome.
3. And to obtain the bed file, I use `bamtobed` command from bedtools.

[code]

[code]

[code]

@ewels the

[2019-01-09 14:48] PhilPalmer commented on #16
So it's probably worth double checking but using the human model for the mouse genome may be alright. From the [original publication](https://www.biorxiv.org/content/biorxiv/early/2016/12/21/092890.full.pdf):

Then regarding getting the pipeline to run successfully I recommend you make sure that all of the chromosomes are the same across your bam, bed & fasta files.

I should have said to this thi

[2019-01-09 15:36] tarak77 commented on #16
sounds good @PhilPalmer . I will keep you updated!

[2019-01-18 19:14] felipemartins1305 opened #17 "trouble running the program"
hello all

I am experimeting with running this next flow and I've been having difficulties. I ran a basic folder with 5 bam files today and received an usual error message that I have attached here.
The data was downloaded, but I checked it on IGV and all the files have the same areas sequenced. I generated bai file using samtools and bed files using bedtools. Can someone help me figure out what;s

[2019-01-28 12:32] PhilPalmer commented on #17
Hi @felipemartins1305,

Sorry for the late response and thanks for trying out the pipeline. Are you still having problems running it?

I think the error is caused from specifying multiple bed files in your command:
[code]

I can see in the log file you sent that it's trying to run the first BED file `Z01.sorted.bed` with the worng BAM file `Z07.sorted.bam` which then causes the error about the con

[2019-01-31 19:24] felipemartins1305 commented on #17
Thanks a lot!

[2019-01-31 19:24] #17 closed, assigned to nobody

[2019-02-01 13:20] felipemartins1305 opened #18 "disk space"
Hello

I have been able to run the program successfully. The problem is that I realized that the /Deepvariant/work folder is now over 200Gb in size!! is there a way to delete some of these files safely and open more disk space?

[2019-02-01 13:45] PhilPalmer commented on #18
Hi @felipemartins1305,

So the `work` directory is produced by Nextflow and contains all of the intermediary files.
If you have all of the files you need in your `results` directory then it should be safe to delete the whole folder.

One of the main reasons why the work directory can be useful is to resume failed jobs from the last successful process by adding the `-resume` flag (as long as the ea

[2019-02-17 14:39] kokyriakidis opened #19 "Deepvariant Version"
@ewels
Hello,

1) Could you update the pipeline to 0.72 version?

2) If i run it locally on my pc, will it use my acceleration cores of my GPU?

[2019-02-17 20:30] apeltzer commented on #19
1.) I guess @PhilPalmer might be able to do that...
2.) No, I guess this would require a special container with CUDA support being built in a custom way - could be interesting though to support this at some point...

[2019-02-22 18:41] felipemartins1305 opened #20 "no outfiles"
Hello

Sorry for being here again.
After I thought all issues were done, I moved the folder containing DeepVariant to a different HD with more space. I ran the program and got thumbs up (log attached) except... there were no outfiles. Nothing was saved. I don't know why. It's all the same except that things moved in the machine.
Here's the command line:

sudo ./nextflow run main.nf --exome --h38 -

[2019-02-24 17:39] PhilPalmer commented on #20
Hi @felipemartins1305,

No worries, sorry the pipeline isn't working for you as expected.

I think the problem here is that the `bam_folder` should be set to the folder containing the BAM files (in this case `/media/user/segundoHD/FA/1`) and not the BAM file itself.

If you want to run the pipeline for your `FA_1_N33.bam` BAM file try using the `--bam` option instead eg:
[code]

Sorry that the pip

[2019-02-24 17:39] #18 closed, assigned to nobody

[2019-02-24 17:40] #16 closed, assigned to nobody

[2019-02-24 21:20] PhilPalmer commented on #19
Hi @kokyriakidis,

1. I have tried updating the pipeline. It wasn't working with the test data for some reason though. If you also want to try it out I pushed the changes to the `dv-v0.72` branch. I believe you can run it with nextflow by adding `-r dv-v0.72` to your `nextflow run` command.
2. Yes I think @apeltzer has covered this. There are no plans to implement this but I will take note and see

[2019-02-25 14:14] felipemartins1305 commented on #20
Dear Phil:

Thanks for the quick reply.
Your suggestion will not solve the problem. The command --bam doesn't go. Every time I try to use it it gives me an error message (see below). In this case it is a different issue. I will try to ask someone that knows Linux more than me, I'm sure it's something to do with changing folders, I must have made somtething wrong in the process.

Thanks, Felipe

[2019-02-25 14:15] felipemartins1305 commented on #20
N E X T F L O W  ~  version 18.10.1
Launching `main.nf` [fabulous_montalcini] - revision: 0f2d95c8e6
WARN: Access to undefined parameter `bam_folder` -- Initialise it to a default value eg. `params.bam_folder = some_value`
ERROR ~ please specify --bam_folder option (--bam_folder bamfolder). Expression: (nextflow.ast.LangHelpers.compareEqual(params.bam_folder, true) && nextflow.ast.LangHelpers.comp

[2019-02-25 15:29] PhilPalmer commented on #20
Hi @felipemartins1305,

I think I know the problem. I think you are running the pipeline that this was forked from. I.e. [lifebit-ai/DeepVariant](https://github.com/lifebit-ai/DeepVariant) and not [nf-core/deepvariant](https://github.com/nf-core/deepvariant). There are some differences between the parameters for the two pipelines as you can see below.
You can check which repository you're using by

[2019-02-25 20:34] felipemartins1305 commented on #20
Hello

Yes, it is for a particular project and yes, I am running on my local machine. I downloaded the correct one now as you pointed, but it seems I have multiplied the error messages. The most uninformative one is below:

WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.

[2019-02-25 21:20] PhilPalmer commented on #20
Can you please upload the `.nextflow.log` file?

I don't know if the error message you sent is causing the issue or if its something else. The error message you sent may just be a warning. It looks like its to do with Docker though so I would check your docker installation. Here is an [answer from stackoverflow](https://stackoverflow.com/questions/48685667/what-does-docker-mean-when-it-says-memory

[2019-02-27 16:40] felipemartins1305 commented on #20
Hello

I finally got it running. I went back to the correct repository, and it took some work - including editing the config file. I am using for so I can run multiple files and it's fine now. Thanks for your help.

[2019-02-27 18:50] ewels commented on #20
Hi @felipemartins1305,

I'd be curious to know what kind of config edits you needed to do to make this work - is there anything general that we can change to help other users of the pipeline?

Thanks,

Phil

[2019-02-27 19:24] felipemartins1305 commented on #20
Hello

The program crashed and had an error message about memory usage. So we went to the config file and changed the Max memory and Max CPUs - I feel like it shouldn't be an issue, but after we changed it everything ran smoothly. I am running in a local machine - this is a test, only 60 bams for now. So this was the only thing I can remember.
If I could  make a suggestion, it would be great if th

[2019-02-28 09:14] PhilPalmer commented on #20
Hi @felipemartins1305,

That's great that you were able to run it

Yes I agree, that would be a good addition to run with multiple BED files. The main problem would be ensuring that the correct BAM file was run with the correct BED. Would you rather:
1) Have to specify the same file prefix for your BAM & BED files
I think this is what you are doing already, eg `FA_1_N33.bam` & `FA_1_N33.bed`
2) Su

[2019-02-28 20:50] felipemartins1305 commented on #20
Hi

I don't remember seeing the  `--max_cpus` and `--max_memory` options, but now that I know they exist, I will definitely use them.
I believe that what I already did - using `.bam` and `.bed` files with the same title - would be the best call. If you use samtools to create the bed files - like I did - they will come with the exact same name as the bam file, so there it is. The other option is no

[2019-03-01 08:51] ewels commented on #20
Hi both,

I'm a little confused - is the `.bed` file not there to specify a region of the genome that's of interest? That's how I interpret `usage.md`:

So then normally you'd have one `.bed` file for an entire project / run...?

If you're using samtools to generate bed files from bam, then that sounds more like the bed file contains all of the aligned read information. If that's the case then (a)

[2019-03-01 13:26] PhilPalmer commented on #20
Ah yes sorry you're quite right at @ewels,

The BED file is for the regions of interest and so would normally be the same for all of BAM files.

@felipemartins1305, if you want to run DeepVariant for the whole genome sequence I suggest you find a BED file for the h38 reference genome that you are using. I'm sure this will already be available and if not I think you can produce it from the FASTA fi

[2019-04-12 08:56] kokyriakidis commented on #19
Maybe it’s time to update to v0.8 which includes singularity support:

“
https://github.com/google/deepvariant/issues/132#issuecomment-482430728
“

And since it’s easy now to run the GPU enabled model, it would be lifesaver to include GPU enabled support in this nextflow pipeline

[2019-04-12 09:11] apeltzer commented on #19
Before that, I'd rather wait for some improvements on GPU support in nextflow itself, (x-ref:  https://github.com/nextflow-io/nextflow/issues/997).

As we don't use the main docker/singularity images provided by the Deepvariant team in this pipeline for various reasons / easier maintenance for example, it might also require some adjustments in the image to be able to use it for GPU computing stuff

[2019-06-13 18:23] cm760 opened #21 ""can't find current frequency file" error"
Hello,

I've recently started using this pipeline for a project I'm working on and I've run into an issue. I ran one fasta file, one bam file and its corresponding bed file, and a custom config file, using the following command line invocation:

`nextflow run nf-core/deepvariant --fasta indexreference/PlasmoDB-41_Pfalciparum3D7_Genome.fasta --bam alignments/ISO_349.bam --bed coverage_decay_plots/P

[2019-06-13 18:48] PhilPalmer commented on #21
Hi @cm760,

Thanks for using the pipeline, sorry it's not working as expected.

Unfortunately I haven't seen this error message before.

Are you running it with any profiles? If not try appending `-profile standard,singularity` onto your command, eg:
[code]

[2019-06-13 19:59] cm760 commented on #21
Hi @PhilPalmer, thank you very much for your reply!

I have tried rerunning the pipeline using the command you specified, but it returned the same error message. I then tried running it again, with `-profile standard, singularity` but without `-c configs/conf/prince.config`, because maybe there was an issue with our config file; unfortunately, it produced the same error message again.

My colleagu

[2019-06-13 20:49] PhilPalmer commented on #21
No worries

I just spotted that your BED is compressed which may be causing the error. Can you please try uncompressing it & rerunning the command

[2019-06-14 18:26] cm760 commented on #21
I tried uncompressing it and running the pipeline with the following command (we used a different bed file but for our purposes it does not matter):

`nextflow run nf-core/deepvariant --fasta indexreference/PlasmoDB-41_Pfalciparum3D7_Genome.fasta --bam alignments/ISO_349.bam --bed PlasmoDB-41_Pfalciparum3D7_Genome.fasta.bed -c configs/conf/prince.config -profile standard`

We were met with the sam

[2019-06-19 09:12] PhilPalmer commented on #21
Hi, sorry for the late response.

Can I ask what is in your `prince.config` file?

Also, I don't think this is causing the error but how come you're not using the `singularity` profile as well as `standard` in the command above?

All of the files seem to be being passed to DeepVariant correctly from the  `nextflow.log.txt` file which you sent. I also tested running the pipeline with similar parame

[2019-06-19 15:04] cm760 commented on #21
The `prince.config` is the one listed [here](https://github.com/nf-core/configs/blob/master/conf/prince.config), for our institution. The file specifies that singularity is enabled, what executor to use, and where to publish the singularity images.

Also sorry, I forgot to mention - I tried using both `-profile standard` as well as `-profile standard,singularity` and because I received the same er

[2019-06-20 16:22] #20 closed, assigned to nobody

[2019-06-21 07:46] PhilPalmer commented on #21
Are you able to send me the files to test with?

Are they small and/or publically available?

[2019-06-24 13:49] kokyriakidis commented on #19
Any update about implementing new version of deepvariant?

[2019-06-24 15:22] tobsecret commented on #21
Thanks for your help, @PhilPalmer! I'm the supervisor on the project where we meant to use nf-core/deepvariant and ran into this issue.
It seems like google/deepvariant#191 established that it was an issue with the deepvariant codebase (i.e. a call to ps_utils which does not work on our cluster for some reason). So it should be fixed for us as soon as they make a new release and the container for

[2019-07-02 09:43] PhilPalmer commented on #19
Hi,

Sorry for the late response.

In theory, it should be as simple as just updating this [one line](https://github.com/nf-core/deepvariant/blob/master/environment.yml#L9).

However, when I tried updating the version to 0.72 the pipeline was failing with the testdata. I hope to get round to building a docker container with deepvaraint version 0.8 & testing it soon.

[2019-07-02 10:41] kokyriakidis commented on #19
Ok then! When it is ready, let us know! :-)

Στις Τρί, 2 Ιουλ 2019 στις 12:44 μμ ο χρήστης PhilPalmer <
notifications@github.com> έγραψε:

[2019-08-16 10:03] drpatelh opened #22 "Add Zenodo DOI for release to main README on master"
Would be good to add the Zenodo DOI for the release to the main README of the pipeline in order to make it citable. You will have to do this via a branch pushed to the repo in order to directly update `master`. See PR below for example and file changes:
https://github.com/nf-core/atacseq/pull/38

See https://zenodo.org/record/1491630#.XVZ0bOhKhPY

Web-hooks are already set-up for this repo to have

[2019-08-21 10:48] PhilPalmer commented on #22
Hi Harshil,

Sorry for the late reply & thanks for the example link.

It would definitely be great to add this. I hope to get round to doing this soon

[2019-10-28 12:51] apeltzer opened #23 "Centralized configs"
Please add  support for centralized configs soon:

https://github.com/nf-core/configs

[2020-01-06 07:32] williamtjordan opened #24 "AttributeError: 'module' object has no attribute 'logsumexp'"
Hello,

I am attempting to install this pipeline using Singularity and run the test profile as follows,

`nextflow run nf-core/deepvariant -profile test,singularity `

and am receiving the following error:

`  Traceback (most recent call last):
    File "/lscratch/1876264.sapelo2/Bazel.runfiles_gbFRRq/runfiles/com_google_deepvariant/deepvariant/make_examples.py", line 1188, in <module>
      tf.ap

[2020-01-06 08:13] PhilPalmer commented on #24
Hi @williamtjordan, sorry the pipeline isn't working as expected.

I'm not immediately sure what is causing this error. Are you able to upload the `.nextflow.log` file which should be in the directory where you ran your command

[2020-01-06 14:47] williamtjordan commented on #24
Hi Phil,

I have attached the nextflow log file in the working directory I used to run the command.

Thank you.

[nextflow.log](https://github.com/nf-core/deepvariant/files/4026497/nextflow.log)

[2020-01-07 18:47] PhilPalmer commented on #24
Hi @williamtjordan,

Sorry for taking a short while to getting round to testing this.

I tested the first command you sent on an AWS instance (with a fresh install of Singularity) & it worked as expected (see [nextflow.log](https://github.com/nf-core/deepvariant/files/4031930/dv_singularity.nextflow.log))

So I am still not completely sure what's causing the issue. Here are some ideas and question

[2020-02-20 08:12] marchoeppner commented on #19
HI, just bumping this. Deepvariant is now up to v 0.9.0 - with apparently significant improvements all around. So would be nice to see that included. Thanks!

[2020-02-20 08:13] marchoeppner opened #26 "Add CRAM support"
Currently, the pipeline uses "*.bam" to find input files. We have, for a while now, switched to CRAM since the space savings are significant (50%). Any chance that the pipeline could be updated to natively support cram (DV does, as far as I know)?

[2020-02-20 09:36] PhilPalmer commented on #26
Hi @marchoeppner,

This is only when using the `--bam_folder` parameter.

You could try using to the `--bam` parameter to specify the path to your CRAM file (as this doesn't check the file extension).

However, I suspect the [`preprocess_bam`](https://github.com/nf-core/deepvariant/blob/master/main.nf#L305-L329) process will fail as this was meant to preprocess BAM files only.

Support for CRAM fi

[2020-02-20 09:40] PhilPalmer commented on #19
Thanks for your patience. I agree that the DeepVariant version definitely needs to be updated.

I'm going to an nf-core hackathon 4-6th March so it could be a good opportunity to updated it then. Would you be able to wait until then or do you need this sooner?

[2020-02-20 09:46] marchoeppner commented on #19
No worries, middle of March sounds fine.

[2020-02-20 09:53] kokyriakidis commented on #19
Support for the GPU accelerated deepvariant would also be a nice feature!

[2020-03-04 03:25] AhmedArslan opened #27 "Can I force run without --bed option?"
I want to analyse all the regions of genome.

[2020-03-20 00:19] moldach opened #28 "failed to get manifest for: shub://nf-core/deepvariant: the requested manifest was not found in singularity hub"
I'm getting an error when trying to pull with singularity (version 3.5.2-1.el7)

[code]

[2020-03-27 17:15] PhilPalmer commented on #28
Hi @moldach, sorry for my late reply on this

I think this is the same issue as #13

This is an error in the documentation as Singularity Hub isn't really used by nf-core and so the image cannot be found

Try this instead:
[code]

Hopefully, this will resolve your issue, let me know if not

[2020-03-27 17:22] PhilPalmer commented on #27
Hi @AhmedArslan really sorry for the late reply,

Unfortunately `bed` is a required argument so the pipeline will fail if it is not specified

If you want to force it to run you could try deleting this [line](https://github.com/nf-core/deepvariant/blob/master/main.nf#L362) and if I'm not mistaken that should work for a whole genome analysis. You will then specify a dummy file for `bed` parameter e

[2020-04-03 12:56] marchoeppner commented on #19
Just a friendly bumb :)

[2020-06-18 12:59] marchoeppner commented on #19
Feeling bad to bump this again, but it's been another 2.5 months and DeepVariant is now up to version 0.10.0.

[2020-06-18 13:01] ewels commented on #19
Bumping is never a bad thing! @PhilPalmer - any updates? There's another nf-core hackathon coming up soon... 😉

[2020-06-18 13:02] ewels commented on #19
Note that doing any updates now will involve a little bit of work, as the pipeline code hasn't been touched for 2 years so it'll need synchronisation with the latest nf-core template.

[2020-06-19 15:20] PhilPalmer commented on #19
Really sorry for the delay, I am definitely deserving of more than a bump 😅

This is something I've been meaning to do for a long while but never have the chance. Yeah, I think the pipeline will require quite a bit of refactoring. As well as the template synchronisation @ewels mentioned, I believe DeepVariant has undergone pretty significant updates itself and so whole processes can probably be re

[2020-06-22 06:17] marchoeppner commented on #19
Hi, thanks for looking into it. No, I have no specific deadline - for the moment, I am converting our CRAMs to BAM and then run v1.0 of the pipeline. Not elegant, but it works.

[2020-07-14 03:07] leorippel commented on #5
Sorry to comment in a closed thread. I'm having the same issue. How is solved, is a memory thing?

[code]

[2020-12-02 01:15] marcovth opened #30 "Missing `fromPath` parameter"
Hello ...

"fromPath" doesn't seem to be in the documentation for nf-core/deepvariant?

Thanks for suggestions.

[code]

[2020-12-02 09:35] apeltzer commented on #30
This pipeline needs a lot of work to be useable again - @abhi18av agreed to give it a go, also see the #deepvariant channel on Slack for more info.

[2020-12-06 13:29] PhilPalmer commented on #30
Hi @marcovth,

Sorry for the slight delay in response. I believe the issue is that you are not specifying a the `--bed` parameter for a BED file which is required by the pipeline.

The error message could be clearer though. This is the standard Nextflow error message when you try calling the `fromPath` operator on a variable that doesn't exist, [here](https://github.com/nf-core/deepvariant/blob/ma